AWS_REGION='us-west-2'
AWS_ACCESS_KEY_ID='idgoeshere'
AWS_SECRET_ACCESS_KEY='ohyouknowit'
AWS_BUCKET_NAME='your-s3-bucket-name'
REDIS_TLS_URL='redis://default:password@host:port'
VITE_CDN_URL='https://tylerbarron.com'
GA_TRACKING_ID='G-SL0K6XXXXX'
